In [1]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [2]:
import warnings 
warnings.filterwarnings('ignore')

## Reading the training file of titanic survivors data

In [3]:
tid=pd.read_csv('titanictrain.csv')

In [4]:
tid.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Cleaning the Data

In [5]:
tid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
tid.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

#### there are lot of null values in Cabin and Age . Cabin is dropped because it doesn't contibute to data

In [7]:
del tid['Cabin']

#### converting male and female in sex to 1 and 0 respectively

In [8]:
sex=lambda x : 1 if x=='male' else 0
tid['Sex']=tid['Sex'].apply(sex)

In [9]:
tid.sample(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
848,849,0,2,"Harper, Rev. John",1,28.0,0,1,248727,33.0000,S
643,644,1,3,"Foo, Mr. Choong",1,NaN,0,0,1601,56.4958,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",0,NaN,1,0,PC 17569,146.5208,C
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",1,18.0,0,0,236171,13.0000,S
102,103,0,1,"White, Mr. Richard Frasar",1,21.0,0,1,35281,77.2875,S
135,136,0,2,"Richard, Mr. Emile",1,23.0,0,0,SC/PARIS 2133,15.0458,C
122,123,0,2,"Nasser, Mr. Nicholas",1,32.5,1,0,237736,30.0708,C
587,588,1,1,"Frolicher-Stehli, Mr. Maxmillian",1,60.0,1,1,13567,79.2000,C
414,415,1,3,"Sundman, Mr. Johan Julian",1,44.0,0,0,STON/O 2. 3101269,7.9250,S
768,769,0,3,"Moran, Mr. Daniel J",1,NaN,1,0,371110,24.1500,Q
648,649,0,3,"Willey, Mr. Edward",1,NaN,0,0,S.O./P.P. 751,7.5500,S
771,772,0,3,"Jensen, Mr. Niels Peder",1,48.0,0,0,350047,7.8542,S
255,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",0,29.0,0,2,2650,15.2458,C
713,714,0,3,"Larsson, Mr. August Viktor",1,29.0,0,0,7545,9.4833,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",0,17.0,4,2,3101281,7.9250,S
420,421,0,3,"Gheorgheff, Mr. Stanio",1,NaN,0,0,349254,7.8958,C
319,320,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",0,40.0,1,1,16966,134.5000,C
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",1,65.0,0,1,113509,61.9792,C
800,801,0,2,"Ponesell, Mr. Martin",1,34.0,0,0,250647,13.0000,S
17,18,1,2,"Williams, Mr. Charles Eugene",1,NaN,0,0,244373,13.0000,S

In [10]:
tid['Age']=tid['Age'].fillna(tid['Age'].interpolate())

In [11]:
tid.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [12]:
del tid['Embarked']

In [13]:
tid.sample(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare
108,109,0,3,"Rekic, Mr. Tido",1,38.0,0,0,349249,7.8958
368,369,1,3,"Jermyn, Miss. Annie",0,36.0,0,0,14313,7.7500
281,282,0,3,"Olsson, Mr. Nils Johan Goransson",1,28.0,0,0,347464,7.8542
541,542,0,3,"Andersson, Miss. Ingeborg Constanzia",0,9.0,4,2,347082,31.2750
647,648,1,1,"Simonius-Blumer, Col. Oberst Alfons",1,56.0,0,0,13213,35.5000
441,442,0,3,"Hampe, Mr. Leon",1,20.0,0,0,345769,9.5000
378,379,0,3,"Betros, Mr. Tannous",1,20.0,0,0,2648,4.0125
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",0,24.0,1,0,STON/O2. 3101279,15.8500
696,697,0,3,"Kelly, Mr. James",1,44.0,0,0,363592,8.0500
646,647,0,3,"Cor, Mr. Liudevit",1,19.0,0,0,349231,7.8958
577,578,1,1,"Silvey, Mrs. William Baird (Alice Munger)",0,39.0,1,0,13507,55.9000
848,849,0,2,"Harper, Rev. John",1,28.0,0,1,248727,33.0000
277,278,0,2,"Parkes, Mr. Francis ""Frank""",1,26.0,0,0,239853,0.0000
685,686,0,2,"Laroche, Mr. Joseph Philippe Lemercier",1,25.0,1,2,SC/Paris 2123,41.5792
70,71,0,2,"Jenkin, Mr. Stephen Curnow",1,32.0,0,0,C.A. 33111,10.5000
181,182,0,2,"Pernot, Mr. Rene",1,18.0,0,0,SC/PARIS 2131,15.0500
266,267,0,3,"Panula, Mr. Ernesti Arvid",1,16.0,4,1,3101295,39.6875
820,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",0,52.0,1,1,12749,93.5000
429,430,1,3,"Pickard, Mr. Berk (Berk Trembisky)",1,32.0,0,0,SOTON/O.Q. 392078,8.0500
762,763,1,3,"Barah, Mr. Hanna Assi",1,20.0,0,0,2663,7.2292

In [14]:
tid=tid.set_index('PassengerId')

In [15]:
X=tid[['Fare','Sex','Age','Pclass','SibSp','Parch']]

In [16]:
y=tid['Survived']

## Validating Data

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [18]:
X=tid[['Fare','Sex','Age','Pclass','SibSp','Parch']]
y=tid['Survived']
for i in range(10):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

    model1=LogisticRegression()
    model1=model1.fit(X_train,y_train)
    y_pred=model1.predict(X_test)

    print(metrics.accuracy_score(y_test,y_pred))

0.8161434977578476
0.7802690582959642
0.8026905829596412
0.7713004484304933
0.7937219730941704
0.8385650224215246
0.7533632286995515
0.7668161434977578
0.757847533632287
0.8295964125560538

## Reading Test File of Titanic Dataset

In [19]:
test_tid=pd.read_csv('titanictest.csv')

In [20]:
test_tid.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [21]:
test_tid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

## Cleaning Data

In [22]:
test_tid['Age']=test_tid['Age'].fillna(test_tid['Age'].interpolate())

In [23]:
del test_tid['Cabin']

In [24]:
test_tid=test_tid.set_index('PassengerId')

In [25]:
test_tid['Fare']=test_tid['Fare'].fillna(test_tid['Fare'].mean())

In [26]:
sex=lambda x : 1 if x=='male' else 0
test_tid['Sex']=test_tid['Sex'].apply(sex)

# Creating Models using Train Data

In [27]:
from sklearn.linear_model import LogisticRegression

In [28]:
X_train=tid[['Pclass','Fare','Sex','Age','SibSp','Parch']]
y_train=tid['Survived']

In [29]:
from sklearn.tree import DecisionTreeClassifier

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
from sklearn.neighbors import KNeighborsClassifier

In [32]:
X=tid[['Fare','Sex','Age','Pclass','SibSp','Parch']]
y=tid['Survived']
for i in range(10):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

    model1=DecisionTreeClassifier(criterion='entropy',min_samples_split=5)
    model1=model1.fit(X_train,y_train)
    y_pred=model1.predict(X_test)

    print(metrics.accuracy_score(y_test,y_pred))

0.7847533632286996
0.7847533632286996
0.7668161434977578
0.8026905829596412
0.7668161434977578
0.7847533632286996
0.7847533632286996
0.7713004484304933
0.8161434977578476
0.7757847533632287

In [33]:
X=tid[['Fare','Sex','Age','Pclass','SibSp','Parch']]
y=tid['Survived']
for i in range(10):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

    model1=RandomForestClassifier(1000)
    model1=model1.fit(X_train,y_train)
    y_pred=model1.predict(X_test)

    print(metrics.accuracy_score(y_test,y_pred))

0.820627802690583
0.8026905829596412
0.7892376681614349
0.7757847533632287
0.8161434977578476
0.8340807174887892
0.8251121076233184
0.7892376681614349
0.8295964125560538
0.7982062780269058

In [34]:
from sklearn.svm import SVC

In [35]:
X=tid[['Fare','Sex','Age','Pclass','SibSp','Parch']]
y=tid['Survived']
for i in range(10):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

    model1=SVC(kernel='linear')
    model1=model1.fit(X_train,y_train)
    y_pred=model1.predict(X_test)

    print(metrics.accuracy_score(y_test,y_pred))

0.7713004484304933
0.7668161434977578
0.8161434977578476
0.7533632286995515
0.7713004484304933
0.8116591928251121
0.7757847533632287
0.8161434977578476
0.7802690582959642
0.7309417040358744

In [36]:
X=tid[['Fare','Sex','Age','Pclass','SibSp','Parch']]
y=tid['Survived']
for i in range(10):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

    model1=SVC(kernel='rbf')
    model1=model1.fit(X_train,y_train)
    y_pred=model1.predict(X_test)

    print(metrics.accuracy_score(y_test,y_pred))

0.6816143497757847
0.6367713004484304
0.6681614349775785
0.6591928251121076
0.6591928251121076
0.7085201793721974
0.6278026905829597
0.7488789237668162
0.6547085201793722
0.7040358744394619

In [37]:
X=tid[['Fare','Sex','Age','Pclass','SibSp','Parch']]
y=tid['Survived']
for i in range(10):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

    model1=KNeighborsClassifier()
    model1=model1.fit(X_train,y_train)
    y_pred=model1.predict(X_test)

    print(metrics.accuracy_score(y_test,y_pred))

0.695067264573991
0.6771300448430493
0.6412556053811659
0.672645739910314
0.6816143497757847
0.6681614349775785
0.7040358744394619
0.6860986547085202
0.7174887892376681
0.7309417040358744

#### Random Forest Had maximum Accuracy so it is used to predict for the test data

In [38]:
X_train=tid[['Pclass','Fare','Sex','Age','SibSp','Parch']]
y_train=tid['Survived']
X_test=test_tid[['Pclass','Fare','Sex','Age','SibSp','Parch']]

In [39]:
model=RandomForestClassifier(1000)
model=model.fit(X_train,y_train)
y_test=model.predict(X_test)

In [40]:
test_tid['Survived']=y_test

In [41]:
test_tid.to_csv('titanicpredicted.csv')